/*
.site-header__announcement-bar {
  display: flex;
  align-items: center;
  background-color: $color-accent;
  position: relative;
  color: #fff;
  padding: 20px 36px;

  @include media ($min: $screen-lg) {
    padding: 10px 36px;
  }
}

.site-header__announcement-bar-inner {
  flex: 1;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  margin: 0 16px;

  p {
    margin: 0;
  }

  @include media ($min: $screen-lg) {
    font-size: 14px;
    line-height: 29px;
  }
}

.site-header__announcement-bar-close {
  width: 15px;
  height: 15px;

  svg path {
    stroke: #fff;s
  }

  @include media ($min: $screen-lg) {
    width: 18px;
    height: 18px;
  }
}*/

@import "../variables";
@import "../templates/own-templates";

.navigation-main {
  @extend %flex_template;
  padding: 23px 111px;
  background-color: $white;

  ul {
    display: flex;
    margin: 0;
  }
}

.logo {
  width: 271px;
}

.navigation-items__list {
  li {
    margin-right: 32px;
    a {
      font-size: 21px;
      font-weight: 400;
      &.active{
        color: $red;
        text-decoration: underline;
      }
    }

    &:last-child {
      text-transform: uppercase;
    }
  }
}

.navigation-menu_main {
  display: flex;
}

.navigation-icons {
  ul {
    li {
      width: 24px;
      margin-left: 24px;
      cursor: pointer;
      .shopping-card-icon{
        position: relative;
        &__count{
          display: block;
          position: absolute;
          top: -5px;
          left: 15px;
          width: 16px;
          height: 16px;
          background: $red;
          color: $white;
          border-radius: 50%;
          font-size: 9px;
          font-weight: 400;
          text-align: center;
          line-height: 17px;
        }
      }
    }
  }
}

.navigation-mobile__wrapper{
  display: none;
}

