@import "../variables";

::-webkit-scrollbar{
  width: 7px;
  background-color: $white;
}

::-webkit-scrollbar-thumb{
  background-color: #202020;
  border-radius: 20px;
}

.side-cart__main {
  position: fixed;
  width: 360px;
  background: white;
  right: -360px;
  top: 0;
  bottom: 0;
  z-index: 3;
  transition: .3s right linear;
}

.side-cart__main.open-cart{
  right: 0;
}

.side-cart__wrapper{
  padding: 18px 18px 200px;
  overflow-y: auto;
  height: 100vh;
}

.side-cart__quantity {
  background-color: #f4f4f4;
  padding: 20px;
  position: relative;
  font-size: 13px;
  color: #B4B4B4;
  text-transform: uppercase;
  &__close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
}


.side-cart__total {
  background-color: #f4f4f4;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;

  &__value {
    ul {
      display: flex;
      justify-content: space-between;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;

    a {
      padding: 13px 17px;
      display: block;
      border-radius: 6px;
      border: solid 1px #202020;

      &:hover {
        background-color: $red;
        border-color: $red;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.side-cart-item {
  display: flex;
  font-size: 13px;
  &__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  &-info{
    width: calc(100% - 64px);
    &__control{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      a{
        display: block;
        color: $white;
        padding: 4px 8px;
        background-color: $red;
        border-radius: 6px;
        &:hover{
          color: $white;
        }
      }
    }
    &__price{
      font-size: 16px;
      color: $red;
      margin: 10px 0;
    }
    .product-main__control-wrapper__counter{
      &__btn{
        padding: 0 12px;
      }
    }
  }
}

