<div>Product</div>


{% schema %}
    {
        "name": "All collections",
        "settings":
            [
                {
                    "type": "collection",
                    "label": "All Collection",
                    "id": "collection"
                }
            ]
    }
{% endschema %}