/*
@import 'variables';
@import 'tools/mixins';
@import 'font';

// Core
@import 'core/layout';

// Vendors
@import "~swiper/src/swiper";
*/
/*---- Global ----*/
/*Own variables*/
/*Own variables*/
body {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #202020;
}

body a {
  text-decoration: none;
  font-weight: 700;
  color: #202020;
}
body a:hover {
  color: #cc0000;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.active-link {
  color: #cc0000;
}

/*
.site-header__announcement-bar {
  display: flex;
  align-items: center;
  background-color: $color-accent;
  position: relative;
  color: #fff;
  padding: 20px 36px;

  @include media ($min: $screen-lg) {
    padding: 10px 36px;
  }
}

.site-header__announcement-bar-inner {
  flex: 1;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  margin: 0 16px;

  p {
    margin: 0;
  }

  @include media ($min: $screen-lg) {
    font-size: 14px;
    line-height: 29px;
  }
}

.site-header__announcement-bar-close {
  width: 15px;
  height: 15px;

  svg path {
    stroke: #fff;s
  }

  @include media ($min: $screen-lg) {
    width: 18px;
    height: 18px;
  }
}*/
/*Own variables*/
/*Own variables*/
body {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-main {
  padding: 23px 111px;
  background-color: #ffffff;
}
.navigation-main ul {
  display: flex;
  margin: 0;
}

.logo {
  width: 271px;
}

.navigation-items__list li {
  margin-right: 32px;
}
.navigation-items__list li a {
  font-size: 21px;
  font-weight: 400;
}
.navigation-items__list li a.active {
  color: #cc0000;
  text-decoration: underline;
}
.navigation-items__list li:last-child {
  text-transform: uppercase;
}

.navigation-menu_main {
  display: flex;
}

.navigation-icons ul li {
  position: relative;
  width: 24px;
  margin-left: 24px;
  cursor: pointer;
}
.navigation-icons ul li img {
  position: absolute;
  top: 0;
  left: 0;
}
