/*.shopping-card-icon{
  position: absolute;
  right: 34px;
  top: 22px;
}*/

/*.product-main__control-wrapper__add-to-cart-btn{
  position: absolute;
  top: 43%;
  right: 35%;
  z-index: 2;
}*/

/*.shopping-card-icon__count{
  position: absolute;
  left: 15px;
  font-size: 8px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 3px;
  width: 16px;
  height: 16px;
  top: -6px;
  text-align: center;
  line-height: 12px;
}*/

.side-cart-item-info__control{
  button{
    display: block;
    color: #ffffff;
    padding: 4px 8px;
    background-color: #ff0000;
    border-radius: 6px;
    border: none;
    &:focus{
      outline: none;
    }
  }
}