

.side-cart-item-info__control{
  button{
    display: block;
    color: #ffffff;
    padding: 4px 8px;
    background-color: #ff0000;
    border-radius: 6px;
    border: none;
    &:focus{
      outline: none;
    }
  }
}

.slick-arrow{
  background: transparent;
  &:before{
    color: black;
  }
}

.rec-prod{
  margin: 0 15px;
  a{
    &:focus{
      outline: none;
    }
  }
}

#recently-viewed{
  margin: 50px 0;
}
