$font-body: 'Roboto Mono', monospace;
$font-body-secondary: 'Poppins', sans-serif;

$color-accent: #000;
$color-body-text: #000;

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;


/*Own variables*/

$red: #cc0000;
$text_global_color:#202020;
$white: #ffffff;
$global_font_family: 'Mulish', sans-serif;
$style_blue: #131824;
$home_bgr_grad: linear-gradient(90deg, rgba(19, 24, 36, 1) 0%, rgba(19, 24, 36, 1) 25%, rgba(0, 0, 0, 0) 50%, rgba(19, 24, 36, 1) 75%, rgba(19, 24, 36, 1) 100%);

